<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="../../static/videos/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/videos/css/main.css">
    <script type="text/javascript" src="../../static/videos/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/videos/js/jquery.form.min.js"></script>
    <script src="../../static/videos/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="../../static/videos/js/tinymce_setup.js"></script>
</head>
<body class="inframe_body">
    <form role="form" method="post" enctype="multipart/form-data" class="release_form">
            <div class="box-body">
                {% for msg in get_flashed_messages(category_filter=["OK"]) %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <h4><i class="icon fa fa-check"></i> 操作成功</h4>
                    {{ msg }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <label for="input_tag_id">{{ form.subject_id.label }}</label>
                    {{ form.subject_id }}
                    {% for err in form.subject_id.errors %}
                        <div class="col-md-12" style="color: red">
                        {{ err }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="input_title" class="form-group">{{ form.title.label }}</label>
                    {{ form.title }}
                    {% for err in form.title.errors %}
                        <div class="col-md-12" style="color:red">
                            {{ err }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="input_url">{{ form.url.label }}</label>
                    {{ form.url }}
                    {% for err in form.url.errors %}
                        <div class="col-md-12">
                            <font style="color:red">{{ err }}</font>
                        </div>
                    {% endfor %}
                    <div style="margin-top:5px;">
                        <div id="moviecontainer"></div>
                    </div>
                </div>
            </div>
            <div class="box-footer form-group">
                {{ form.csrf_token }}
                {{ form.submit }}
            </div>
        </form>
    <script>
        $(function(){
            window.parent.fnSetIframeHeight(900);
        })
    </script>
</body>
</html>